.navbar
{
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-inverse
{
  background-color: #4d8acd;
  color: #fff;
  border-color: #3370b4;
  padding: 25px 0;
}

.container
{
  font-family: 'Lato', sans-serif;
}
