.modal
{
  font:
  {
    family: 'Lato', sans-serif;
    size: 1.5rem;
  }

  li:hover
  {
    background-color: #eee;
  }
}

.modal-body__header
{
  font:
  {
    weight: bold;
    size: 1.7rem;
  }

}
